---
import { getCollection, render, getEntries, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Prose from '../../components/Prose.astro';
import { Image } from 'astro:assets';
import { getUrl, niceUrl } from '../../utils';
import { getProjectData } from '../../model/model';

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return Promise.all(projects.map(async (project) => ({
    params: { id: project.id },
    props: { 
      ...await getProjectData(project),
    },
  })));
}

const { 
  project,
  criticalShifts,
  topics,
} = Astro.props;

const { Content } = await render(project);
---

<Layout title={project.data.name} description={project.data.perex} image={project.data.image?.src}>
    {project.data.image && <Image src={project.data.image} alt={project.data.name} class="mt-8 h-24 sm:h-48 w-96 object-contain"/>}
    <h1 class="text-3xl mt-12 mb-4 font-semibold">{project.data.name}</h1>
    <div class="mb-12">
        {criticalShifts.map(shift => <a href={getUrl(`/topics/${shift.data.topic.id}#${shift.id}`)} class={`rounded-sm inline-block px-2 py-1 border-1`}>{shift.data.name}</a>)}
        {topics.map(topic => <a href={getUrl(`/topics/${topic.id}`)} class={`rounded-sm inline-block px-2 py-1 border-1`}>{topic.data.name}</a>)}
    </div>
    <Prose>
        <Content />
    </Prose>
    <div class="my-8">
        {project.data.url && <div>Více najdete na <a href={project.data.url} target="_blank" class="underline">{niceUrl(project.data.url)}</a></div>}
    </div>
</Layout>
