---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro"
import { getUrl } from "../utils";

const { title, description, image, wrapperClass } = Astro.props;

const og = {
	title: title ? `${title} | Dobromapa` : 'Dobromapa',
	description: description || 'Vytváříme mapu občanské společnosti v České republice. Je pestřejší, než si myslíme.',
	image: image,
}

---
<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={getUrl('/favicon.svg')} />
		<meta name="generator" content={Astro.generator} />
		<title>{og.title}</title>
		<meta name="description" content={og.description} />
		{og.image && <meta property="og:image" content={og.image} />}
		<!-- Remove this after we want to release this out -->
		<meta name="robots" content="noindex,nofollow" />
		<slot name="header" />
	</head>
	<body class="relative pb-32 min-h-screen bg-slate-100 text-slate-700">
		<Navigation />
		<div class={wrapperClass || "mx-auto w-full px-8 sm:px-3 sm:w-3/4 sm:max-w-256 mb-24"}>
			<slot />
		</div>
		<div class="w-full h-32 absolute bottom-0 border-primary-800 border-t-1 text-primary-800">
			<div class="mx-auto w-3/4">
				<p class="mt-12 text-center">Chybí tu něco? Napište na <a href="mailto:info@dobromapa.cz" class="underline">info@dobromapa.cz</a></p>
			</div>
		</div>
	</body>
</html>
